.action-icon{
    height:25px;
    width:25px;
    margin-right: 10px;
}

.cart-item{
    display:inline-flex;
    margin: 20px 10px;
    padding: 10px;
    border:1px solid lightgrey;
}
.right-block{
    padding:10px ;
    line-height: 1.5;
}

/* design cart */
.Cart{
    display: flex;
    flex-direction: column;
}