.action-icon{
    height:25px;
    width:25px;
    margin-right: 10px;
}

.cart-item{
    display:inline-flex;
    margin: 20px 10px;
    border: 1px solid red;
}
.right-block{
    padding:10px ;
    border: 1px solid black;
}

/* design cart */
.Cart{
    display: flex;
    flex-direction: column;
}